.DS_Store
_site
Enterprise/Assessment/ProjectProposal/Feedback/
Enterprise/Assessment/Presentation/Feedback/
*checkpoint.ipynb
*swp
*.lock
my_plot.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pygstyle
*.pygtex
*cache*
*.mov
docs/_build/*
nbs/chapters/plot.pdf
*bbl
*blg
index.html
_build
assets/nbs/assessment/**/submissions/*
assets/nbs/assessment/**/*data.csv
assets/nbs/assessment/**/gmail.py
assets/nbs/assessment/**/2019-resit/*
assets/nbs/assessment/**/sent.txt
