.DS_Store
_site
Enterprise/Assessment/ProjectProposal/Feedback/
Enterprise/Assessment/Presentation/Feedback/
*checkpoint.ipynb
*swp
*.lock
my_plot.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.xdv
*.snm
*.toc
*.vrb
*.pygstyle
*.pygtex
*cache*
*.mov
docs/_build/*
nbs/chapters/plot.pdf
*bbl
*blg
index.html
_build
**/submissions/*
**/sent.txt
**/assessment/**/*data.csv
**/gmail.py
*.xlsx
**/2019-resit/*
**assets/data/2020-2021/
*.numbers
assets/assessment/2020-2021/group/main.csv
assets/assessment/2020-2021/main.ipynb
assets/nbs/assessment/*
env/
